body {
  background-color:rgb(250, 246, 246);
}

.navbar {
  background-color: #48bfe3;
  display: flex;
  padding: 20px;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.cards {
  display: flex;
  justify-content: center;
}

.login {
  float: right;
  text-align: center;
  padding: 0 50px;
}
.menuname {
  float: left;
  text-align: center;
  padding: 0 50px;
}

.repo {
  position: relative;
  justify-content: center;
  height: 500px;
  width: 50%;
  margin: 0 auto;
  overflow: auto;

  /* display: flex;
  justify-content: center;
  height: 500px;
  width: 50%;
  margin: 0 auto;
  overflow: auto; */
}

.follow {
  position: relative;
  justify-content: center;
  height: 500px;
  width: 30%;
  margin: 0 auto;
  overflow: auto;
}
